<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Vue Basis</title>
    <script src="vue.js"></script>
</head>
<body>
<ol>
    <li>
        引用关系。<br/>
        <kbd>
            app.value1 === data1.value1 <br/>
            app.value1 === app.$data.value1 <br/>
            app.$data === data1 <br/>
        app.$el === document.getElementById('app')
        </kbd>
        <div id="app"></div>
        <script>
          let data1 = {value1: 100};
          let app = new Vue({
            el: '#app',
            data: data1
          });
        </script>
    </li>
    <li>
        <kbd>v-if</kbd> 控制是否存在。<br/>
        <div id="app1" v-if="on"><kbd>app1.on = false</kbd></div>
        <script>
          let app1 = new Vue({
            el: '#app1',
            data: {
              on: true
            }
          });
        </script>
    </li>
    <li>
        <kbd>v-if, v-else-if, v-else</kbd> 条件控制。<br/>
        <kbd>app1_1.flag = 1<br/>
        app1_1.flag = 2<br/>
        app1_1.flag = 3</kbd>
        <div id="app1_1">
            <span v-if="flag===1">1111111111</span>
            <span v-else-if="flag===2">2222222222</span>
            <span v-else>3333333333</span>
        </div>
        <script>
          let app1_1 = new Vue({
            el: '#app1_1',
            data: {
              flag: 0
            }
          });
        </script>
    </li>
    <li>
        <kbd>v-show</kbd> 控制是否显示。<br/>
        <div id="app2" v-show="on"><kbd>app2.on = false</kbd></div>
        <script>
          let app2 = new Vue({
            el: '#app2',
            data: {
              on: true
            }
          });
        </script>
    </li>
    <li>
        <kbd>v-bind:title</kbd> 绑定属性值。<br/>
        <div id="app3" v-bind:title="text"><kbd>app3.text = 'Alice'</kbd></div>
        <script>
          let app3 = new Vue({
            el: '#app3',
            data: {
              text: 'Helen'
            }
          });
        </script>
    </li>
    <li>
        <kbd>:title</kbd> 绑定属性值，:property 等价于 v-bind:property。<br/>
        <div id="app4" :title="text"><kbd>app4.text = 'Alice'</kbd></div>
        <script>
          let app4 = new Vue({
            el: '#app4',
            data: {
              text: 'Helen'
            }
          });
        </script>
    </li>
    <li>
        <kbd>:class</kbd> 用对象绑定类。<br/>
        <div id="app5" class="default_class" :class="classes"><kbd>app5.classes.blue = true</kbd></div>
        <script>
          let app5 = new Vue({
            el: '#app5',
            data: {
              classes: {
                red: true,
                blue: false
              }
            }
          });
        </script>
    </li>
    <li>
        <kbd>:style</kbd> 用对象绑定样式。<br/>
        <div id="app6" :style="styles"><kbd>app6.styles = {color:'red', border:'1px dotted'}</kbd></div>
        <script>
          let app6 = new Vue({
            el: '#app6',
            data: {
              styles: null
            }
          });
        </script>
    </li>
    <li>
        数据绑定到文本节点。<br/>
        <kbd>app7.sentence = 'Hey UFO'</kbd>
        <div id="app7">{{sentence}}</div>
        <script>
          let app7 = new Vue({
            el: '#app7',
            data: {
              sentence: 'Hello world'
            }
          });
        </script>
    </li>
    <li>
        <kbd>v-html</kbd> 绑定数据为HTML的格式。<br/>
        <kbd>app8.sentence = '&lt;em&gt;Hello UFO&lt;/em&gt;'</kbd>
        <div id="app8">
            <p>{{sentence}}</p>
            <p v-html="sentence">{{sentence}}</p>
        </div>
        <script>
          let app8 = new Vue({
            el: '#app8',
            data: {
              sentence: '<strong>Hello world</strong>'
            }
          });
        </script>
    </li>
    <li>
        在绑定区使用方法。<br/>
        <div id="app9">
            <p>{{name}}</p>
            <p>{{name + ' ' + 10}}</p>
            <p>{{name?'it has name':'it has no name'}}</p>
            <p>{{name.split(' ')}}</p>
            <p>{{name.split(' ').reverse()}}</p>
            <p>{{name.split(' ').reverse().join(' ')}}</p>
        </div>
        <script>
          let app9 = new Vue({
            el: '#app9',
            data: {
              name: 'Resident Evil'
            }
          });
        </script>
    </li>
    <li>
        计算属性。<br/>
        <kbd>app10.name = 'hello world'</kbd>
        <div id="app10">
            <p>{{name2}}</p>
        </div>
        <script>
          let app10 = new Vue({
            el: '#app10',
            data: {
              name: 'Resident Evil'
            },
            computed: {
              name2: function () {
                return this.name.split(' ').reverse().join(' ');
              }
            }
          });
        </script>
    </li>
    <li>
        <kbd>v-on</kbd> 绑定点击事件。
        <div id="app10_1">
            <button v-on:click="say">Button</button>
            <button @click="say">Button</button>
        </div>
        <script>
          let app10_1 = new Vue({
            el: '#app10_1',
            methods:{
              say:function (e) {
                alert(e.target.tagName);
              }
            }
          });
        </script>
    </li>
    <li>
        绑定表单控件。<br/>
        <kbd>app11.name = 'hello world'</kbd>
        <div id="app11">
            <input type="text" v-model="name"/> {{name}} <br/>
            <textarea v-model="text"></textarea> {{text}} <br/>
            <label><input name="color" type="radio" v-model="on" value="male"/>男</label>
            <label><input name="color" type="radio" v-model="on" value="female"/>女</label> {{on}} <br/>

            <label><input name="hobbies" type="checkbox" v-model="hobbies" value="swimming"/>游泳</label>
            <label><input name="hobbies" type="checkbox" v-model="hobbies" value="running"/>跑步</label> {{hobbies}} <br/>

            <label><input type="checkbox" v-model="married" true-value="yes" false-value="no"/>已婚</label> {{married}} <br/>

            <input type="date" v-model="date"/> <input type="text" v-model="date"/> {{date}} <br/>

            <select v-model="city">
                <option disabled value="">选择</option>
                <option value="cheng'du">成都</option>
                <option value="xi'an">西安</option>
            </select> {{city}} <br/>

            <select v-model="city2" multiple="multiple">
                <option disabled value="">多选</option>
                <option value="cheng'du">成都</option>
                <option value="xi'an">西安</option>
            </select> {{city2}} <br/>

            <select v-model="next">
                <option v-for="each in todo" v-bind:value="each.value">
                    {{ each.text }}
                </option>
            </select> {{next}}
        </div>
        <script>
          let app11 = new Vue({
            el: '#app11',
            data: {
              name: 'Resident Evil',
              text: '',
              on: null,
              hobbies: [],
              married:null,
              date: '',
              city: '',
              city2: [],
              todo: [
                {text: 'item1', value: 1},
                {text: 'item2', value: 2},
              ],
              next:null
            }
          });
        </script>
    </li>
    <li>
        <kbd>v-once</kbd> 一次性数据，不可修改已显示的值。<br/>
        <kbd>app12.once_value = 300</kbd>
        <div id="app12">
            <span v-once>{{once_value}}</span>
        </div>
        <script>
          let app12 = new Vue({
            el: '#app12',
            data:{
              once_value:200
            }
          });
        </script>
    </li>
    <li>
        <kbd>computed,set,get</kbd> <br/>
        app13.name = 'Jill Valentine'<br/>
        app13.firstname<br/>
        app13.lastname
        <div id="app13">
            {{name}}
        </div>
        <script>
          let app13 = new Vue({
            el: '#app13',
            data:{
              firstname:'Harry',
              lastname:'Potter'
            },
            computed:{
              name: {
                get: function () {//获取值
                  return this.firstname + ' ' + this.lastname;
                },
                set: function (name) {//设置值
                  let names = name.split(' ');
                  this.firstname = names[0];
                  this.lastname = names[1];
                }
              }
            }
          });
        </script>
    </li>
    <li>
        <kbd>key:n</kbd> 避免控件复用。<br/>
        若被复用，控件改变时，其值不会变。<br/>
        <kbd>app14.sign = 2</kbd><br/>
        <div id="app14">
            <input type="text" placeholder="输入一些东西后执行改变" v-if="sign===1" :key="sign"/>
            <input type="text" placeholder="第二个控件" v-else :key="sign"/>
        </div>
        <script>
          let app14 = new Vue({
            el: '#app14',
            data:{
              sign:1
            }
          });
        </script>
    </li>
    <li>
        事件。<br/>
        <div id="app15">
            <button @keydown.c="say">Focus and press C</button>
            <button @keypress.enter="say">Focus and press Enter</button>
            <button @keyup.page-down="say">Focus and press Page Down</button>
            <button @keyup.alt.r="say">Focus and press Alt+R</button>
            <button @mouseover="say">Mouse Over</button>
            <button @dblclick="say">Double Click</button>
        </div>
        <script>
          let app15 = new Vue({
            el: '#app15',
            methods:{
              say:function () {
                alert(1)
              }
            }
          });
          /*按键别名
           .enter
           .tab
           .delete (捕获“删除”和“退格”键)
           .esc
           .space
           .up
           .down
           .left
           .right
           可以通过全局 config.keyCodes 对象自定义按键修饰符别名：
           Vue.config.keyCodes.f1 = 112

           .ctrl
           .alt
           .shift
           .meta
           */
        </script>
    </li>
    <li>
        <kbd>watch:</kbd> 监视。
        <div id="app16">
            <kbd>app16.value1 = 2</kbd>
        </div>
        <script>
          let app16 = new Vue({
            el: '#app16',
            data:{
              value1:1
            },
            watch:{
              value1:function (newValue,oldValue) {
                alert(oldValue+' --> '+newValue);
              }
            }
          });
        </script>
    </li>
</ol>

<!--
当在一个自定义组件上使用 class 属性时，这些类将被添加到该组件的根元素上面。

<div :style="{ display: ['-webkit-box', '-ms-flexbox', 'flex'] }"></div>
这样写只会渲染数组中最后一个被浏览器支持的值。
-->
</body>
</html>