<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Vue Modifiers</title>
  <script src="vue.js"></script>
</head>
<body>
<ol>
  <li>
    <kbd>@click.stop</kbd> 修饰符：阻止单击事件继续传播。
    <div id="app1" @click="app_say">
      <span @click.stop="span_say">click me inside or outside</span>
    </div>
    <script>
      let app1 = new Vue({
        el: '#app1',
        data:{
          value1:1
        },
        methods:{
          app_say:function () {
            alert('app_say');
          },
          span_say:function () {
            alert('span_say');
          },
        }
      });
    </script>
  </li>
  <li>
    <kbd>@submit.prevent</kbd> 修饰符：阻止默认的事件。
    <div id="app2">
      <form @submit.prevent="say">
        <input type="submit"/>
        <input type="submit" @click.prevent/><!--只有修饰符的情况-->
      </form>
    </div>
    <script>
      let app2 = new Vue({
        el: '#app2',
        data:{
          value1:1
        },
        methods:{
          say:function () {
            alert('submit')
          }
        }
      });
    </script>
  </li>
  <li>
    <kbd>click.stop.prevent</kbd> 修饰符串联使用。
    <div id="app3" @click="say">
      <form>
        <input @click.stop.prevent="say" type="submit"/>
      </form>
    </div>
    <script>
      let app3 = new Vue({
        el: '#app3',
        data:{
          value1:1
        },
        methods:{
          say:function () {
            alert('submit!')
          }
        }
      });
    </script>
  </li>
  <li>
    <kbd>click.capture</kbd> 先处理内部元素触发的事件，再由内部元素处理。
    <div id="app4" @click.capture="app_say">
      <button @click="button_say">Button</button>
    </div>
    <script>
      let app4 = new Vue({
        el: '#app4',
        methods:{
          app_say:function () {
            alert('app_say')
          },
          button_say:function () {
            alert('button_say')
          }
        }
      });
    </script>
  </li>
  <li>
    <kbd>click.self</kbd> 只当在 event.target 是元素自身时触发，即事件不是从内部元素触发的。
    <div id="app5" @click.self="app_say">
      <button @click="button_say">Button</button>
    </div>
    <script>
      let app5 = new Vue({
        el: '#app5',
        methods:{
          app_say:function (e) {
            alert(e.target.tagName)
          },
          button_say:function (e) {
            alert(e.target.tagName)
          }
        }
      });
    </script>
  </li>
  <li>
    <kbd>click.once</kbd> 只触发一次。
    <div id="app6">
      <button @click.once="say">Button</button>
    </div>
    <script>
      let app6 = new Vue({
        el: '#app6',
        methods:{
          say:function (e) {
            alert(1)
          }
        }
      });
    </script>
  </li>
  <li>
    <kbd>v-model.lazy</kbd> 不立即同步，等待change事件触发后同步，而非input事件。
    <div id="app7">
      <input type="text" v-model="val" placeholder="no lazy"/> {{val}} <br/>
      <input type="text" v-model.lazy="val" placeholder="lazy"/> {{val}}
    </div>
    <script>
      let app7 = new Vue({
        el: '#app7',
        data:{
          val:''
        }
      });
    </script>
  </li>
  <li>
    <kbd>v-model.number</kbd> 尽量将输入的值转化为 Number 类型。
    <div id="app8">
      <input type="text" v-model="val" @change="check" placeholder="no number"/> {{val}} <br/>
      <input type="text" v-model.number="val" @change="check" placeholder="number"/> {{val}} <br/>
    </div>
    <script>
      let app8 = new Vue({
        el: '#app8',
        data:{
          val:''
        },
        methods:{
          check:function () {
            alert(typeof this.val);
          }
        }
      });
    </script>
  </li>
  <li>
    <kbd>v-model.trim</kbd> 过滤输入的首尾空格。<br/>
    <kbd>app9.val.length</kbd>
    <div id="app9">
      <input type="text" v-model="val" @change="check" placeholder="no trim"/> {{val}} <br/>
      <input type="text" v-model.trim="val" @change="check" placeholder="trim"/> {{val}} <br/>
    </div>
    <script>
      let app9 = new Vue({
        el: '#app9',
        data:{
          val:''
        },
        methods:{
          check:function () {
            alert(this.val.length);
          }
        }
      });
    </script>
  </li>
</ol>
</body>
<script>
  /*事件修饰符
使用修饰符时，顺序很重要；相应的代码会以同样的顺序产生。因此，
用 @click.prevent.self 会阻止所有的点击，
而 @click.self.prevent 只会阻止对元素自身的点击。
*/
</script>
</html>