<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MyEdit</title>
    <script src="vue.js"></script>
</head>
<body>
<div id="app">
    <edit :structs="structs"></edit>
</div>
</body>
<!--------------------------------------------------------------------------->
<!--------------------------------------------------------------------------->
<!--------------------------------------------------------------------------->
<!--------------------------------------------------------------------------->
<!--------------------------------------------------------------------------->
<!--------------------------------------------------------------------------->
<!--------------------------------------------------------------------------->
<!--------------------------------------------------------------------------->

<!--文本框组件-->
<script type="text/x-template" id="my_textbox">
    <p class="my_textbox">
        {{data.title}} <input type="text" v-model="data.value" :placeholder="data.placeholder" />
    </p>
</script>
<script>
  Vue.component('textbox', {
    template: '#my_textbox',
    props: ['data']
  });
</script>

<!--单选按钮组件-->
<script type="text/x-template" id="my_radio">
    <p class="my_radio">
        {{data.title}}
        <label v-for="each in data.options">
            <input :value="each.value" v-model="data.value" type="radio" />
            {{each.text}}
        </label>
    </p>
</script>
<script>
  Vue.component('radio', {
    template: '#my_radio',
    props: ['data']
  });
</script>

<!--数字文本框组件-->
<script type="text/x-template" id="my_numberbox">
    <p class="my_numberbox">
        {{data.title}} <input type="number" v-model="data.value" />
    </p>
</script>
<script>
  Vue.component('numberbox', {
    template: '#my_numberbox',
    props: ['data']
  });
</script>

<!--下拉菜单组件-->
<script type="text/x-template" id="my_listbox">
    <p class="my_listbox">
        {{data.title}}
        <select v-model="data.value">
            <option v-for="each in data.options" :value="each.value">{{each.text}}</option>
        </select>
    </p>
</script>
<script>
  Vue.component('listbox', {
    template: '#my_listbox',
    props: ['data']
  });
</script>

<!--复选框组件-->
<script type="text/x-template" id="my_checkbox">
    <p class="my_checkbox">
        {{data.title}}
        <label v-for="each in data.options">
            <input :value="each.value" v-model="data.value" type="checkbox"/>
            {{each.text}}
        </label>
    </p>
</script>
<script>
  Vue.component('checkbox', {
    template: '#my_checkbox',
    props: ['data']
  });
</script>

<!--父组件-->
<script type="text/x-template" id="my_edit">
    <div class="my_edit">
        <div v-for="struct in structs">
            <component :is="struct.type" :data="struct.data"></component>
        </div>
    </div>
</script>
<script>
  Vue.component('edit', {
    template: '#my_edit',
    props: ['structs']
  });
</script>
<!--------------------------------------------------------------------------->
<!--------------------------------------------------------------------------->
<!--------------------------------------------------------------------------->
<!--------------------------------------------------------------------------->
<!--------------------------------------------------------------------------->
<!--------------------------------------------------------------------------->
<!--------------------------------------------------------------------------->
<!--------------------------------------------------------------------------->
<script>
  let app = new Vue({
    el: '#app',
    methods: {
      submit: function () {
        let result = {};
        let structs = this.structs;
        for (let i = 0; i < structs.length; i++) {
          let each = structs[0];

        }
      }
    },
    data: {
      structs:[
        {
          type:'textbox',
          data:{
            title:'名字',
            placeholder:'your name',
            value:'Helen'
          }
        },
        {
          type: 'radio',
          data: {
            title: '性别',
            value: 0,
            options: [
              {text: '男', value: 1},
              {text: '女', value: 0}
            ]
          }
        },
        {
          type:'numberbox',
          data:{
            title:'年龄',
            value:23
          }
        },
        {
          type:'listbox',
          data:{
            title:'家乡',
            value:'place 2',
            options:[
              {text:'地方1',value:'place 1'},
              {text:'地方2',value:'place 2'}
            ]
          }
        },
        {
          type:'checkbox',
          data:{
            title:'爱好',
            value:['running','walking'],
            options:[
              {text:'游泳',value:'swimming'},
              {text:'跑步',value:'running'},
              {text:'走路',value:'walking'}
            ]
          }
        }
      ]
    }
  });
</script>
</html>