<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>My Form</title>
  <script src="vue.js"></script>
</head>
<body>
<div id="app">
  <myform :form="form"></myform>
  <input type="submit" @click="submitForm"/>
</div>
</body>
<!--------------------------------------------------------------------------->
<!--------------------------------------------------------------------------->
<!--------------------------------------------------------------------------->
<!--------------------------------------------------------------------------->
<!--------------------------------------------------------------------------->
<!--------------------------------------------------------------------------->
<!--------------------------------------------------------------------------->
<!--------------------------------------------------------------------------->

<!--文本框组件-->
<script type="text/x-template" id="my_textbox">
  <p class="my_textbox">
    {{data.title}}
    <input :type="data.type" v-model="data.value" :placeholder="data.placeholder" :min="data.min" :max="data.max" :list="data.field"/>
    <datalist :id="data.field" v-if="data.datalist">
      <option v-for="each in data.datalist" :label="each.label">{{each.value}}</option>
    </datalist>
  </p>
</script>
<script>
  Vue.component('textbox', {
    template: '#my_textbox',
    props: ['data']
  });
</script>

<!--富文本框框组件-->
<script type="text/x-template" id="my_richtextbox">
  <p class="my_richtextbox">
    {{data.title}}
    <textarea :placeholder="data.placeholder" v-model="data.value"></textarea>
  </p>
</script>
<script>
  Vue.component('richtextbox', {
    template: '#my_richtextbox',
    props: ['data']
  });
</script>

<!--范围选择组件-->
<script type="text/x-template" id="my_range">
  <p class="my_range">
    {{data.title}}
    <input type="range" v-model="data.value" :min="data.min" :max="data.max"/> {{data.value}}
  </p>
</script>
<script>
  Vue.component('range', {
    template: '#my_range',
    props: ['data']
  });
</script>

<!--单选按钮组件-->
<script type="text/x-template" id="my_radio">
  <p class="my_radio">
    {{data.title}}
    <label v-for="each in data.options">
      <input :value="each.value" v-model="data.value" type="radio"/>
      {{each.text}}
    </label>
  </p>
</script>
<script>
  Vue.component('radio', {
    template: '#my_radio',
    props: ['data']
  });
</script>

<!--下拉菜单组件-->
<script type="text/x-template" id="my_listbox">
  <p class="my_listbox">
    {{data.title}}
    <select :multiple="data.multiple" v-model="data.value">
      <option v-for="each in data.options" :value="each.value">{{each.text}}</option>
    </select>
  </p>
</script>
<script>
  Vue.component('listbox', {
    template: '#my_listbox',
    props: ['data']
  });
</script>

<!--复选框组件-->
<script type="text/x-template" id="my_checkbox">
  <p class="my_checkbox">
    {{data.title}}
    <label v-for="each in data.options">
      <input :value="each.value" v-model="data.value" type="checkbox"/>
      {{each.text}}
    </label>
  </p>
</script>
<script>
  Vue.component('checkbox', {
    template: '#my_checkbox',
    props: ['data']
  });
</script>

<!--父组件-->
<script type="text/x-template" id="myform">
  <div class="myform">
    <h2>{{form.title}}</h2>
    <div v-for="each in form.components">
      <component :is="each.type" :data="each.data"></component>
    </div>
  </div>
</script>
<script>
  Vue.component('myform', {
    template: '#myform',
    props: ['form']
  });
</script>
<!--------------------------------------------------------------------------->
<!--------------------------------------------------------------------------->
<!--------------------------------------------------------------------------->
<!--------------------------------------------------------------------------->
<!--------------------------------------------------------------------------->
<!--------------------------------------------------------------------------->
<!--------------------------------------------------------------------------->
<!--------------------------------------------------------------------------->
<script>
  let app = new Vue({
    el: '#app',
    computed: {
      formResult: function () {
        let result = {};
        let components = this.form.components;
        for (let i = 0; i < components.length; i++) {
          let each = components[i];
          result[each.data.field] = each.data.value;
        }
        return result;
      }
    },
    methods: {
      submitForm: function () {
        console.log(this.formResult);
      }
    },
    data: {
      form: {
        title: '个人信息表单',
        components: [
          {
            type: 'textbox',//文本框
            data: {
              title: '名字',
              type: 'text',
              placeholder: 'your name',
              value: 'Helen',
              field: 'username'
            }
          },
          {
            type: 'textbox',//密码文本框
            data: {
              title: '密码',
              type: 'password',
              placeholder: 'your password',
              value: '123',
              field: 'password'
            }
          },
          {
            type: 'textbox',//数字文本框
            data: {
              title: '年龄',
              type: 'number',
              placeholder: 'your age',
              min: 12,
              max: 90,
              value: 23,
              field: 'age'
            }
          },
          {
            type: 'textbox',//日期文本框
            data: {
              title: '生日',
              type: 'date',
              value: '1992-05-29',
              field: 'birthday'
            }
          },
          {
            type: 'textbox',//时间文本框
            data: {
              title: '起床时间',
              type: 'time',
              value: '07:38',
              field: 'exactbirthtime'
            }
          },
          {
            type: 'textbox',//日期时间文本框
            data: {
              title: '准确出生时间',
              type: 'datetime-local',
              value: '1991-03-22T07:32',
              field: 'getuptime'
            }
          },
          {
            type: 'textbox',//邮箱地址文本框
            data: {
              title: '邮箱地址',
              type: 'email',
              placeholder: 'your email',
              datalist:[
                {label:'email1',value:'aa@a.com'},
                {label:'email2',value:'bb@b.com'}
              ],
              value: 'dsf@df.com',
              field: 'email'
            }
          },
          {
            type: 'richtextbox',//邮箱地址文本框
            data: {
              title: '更多',
              placeholder: 'more',
              value: '你好',
              field: 'more'
            }
          },
          {
            type: 'radio',//单选按钮
            data: {
              title: '性别',
              value: 0,
              field: 'gender',
              options: [
                {text: '男', value: 1},
                {text: '女', value: 0}
              ]
            }
          },
          {
            type: 'listbox',//下拉菜单
            data: {
              title: '家乡',
              // type: '',
              value: 'chengdu',
              field: 'hometown',
              options: [
                {text: '北京', value: 'beijing'},
                {text: '成都', value: 'chengdu'}
              ]
            }
          },
          {
            type: 'listbox',//下拉菜单（多选）
            data: {
              title: '技能',
              multiple: 'multiple',
              value: ['frontend'],
              field: 'skills',
              options: [
                {text: 'web后端', value: 'backend'},
                {text: 'web前端', value: 'frontend'}
              ]
            }
          },
          {
            type: 'range',//范围选择
            data: {
              title: '程度',
              min: 0,
              max: 100,
              value: 20,
              field: 'range'
            }
          },
          {
            type: 'checkbox',//复选框
            data: {
              title: '爱好',
              value: ['running', 'walking'],
              field: 'hobbies',
              options: [
                {text: '游泳', value: 'swimming'},
                {text: '跑步', value: 'running'},
                {text: '走路', value: 'walking'}
              ]
            }
          }
        ]
      }
    }
  });
</script>
</html>