<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>My Table</title>
  <script src="vue.js"></script>
</head>
<body>
<div id="app">
  <mytable :table="table"></mytable>
</div>
</body>
<!--------------------------------------------------------------------------->
<!--------------------------------------------------------------------------->
<!--------------------------------------------------------------------------->
<!--------------------------------------------------------------------------->
<!--------------------------------------------------------------------------->
<!--------------------------------------------------------------------------->
<!--------------------------------------------------------------------------->
<!--------------------------------------------------------------------------->

<!--表格单元格组件-->
<script type="text/x-template" id="mytd">
  <td v-if="transform[headerkey]">
    {{transform[headerkey][row[headerkey]]}}
  </td>
  <td v-else>
    {{row[headerkey]}}
  </td>
</script>
<script>
  Vue.component('mytd', {
    template: '#mytd',
    props: ['row', 'headerkey', 'transform']
  });
</script>

<!--表格行组件-->
<script type="text/x-template" id="mytr">
  <tr>
    <mytd v-for="(header,key) in table.headers" :key="key" :headerkey="key" :row="row"
          :transform="table.transform"></mytd><!--生成表头的同时生成内容-->
    <td><a href="">编辑</a></td>
    <td><a href="">删除</a></td>
  </tr>
</script>
<script>
  Vue.component('mytr', {
    template: '#mytr',
    props: ['row', 'table']
  });
</script>

<!--父组件-->
<script type="text/x-template" id="mytable">
  <div class="mytable">
    <p>
      <a href="">新增记录</a>
    </p>
    <table cellpadding="8" cellspacing="1" border="1">
      <caption>{{table.caption}}</caption>
      <tr>
        <th v-for="header in table.headers">{{header}}</th>
        <th>编辑</th>
        <th>删除</th>
      </tr>
      <tr is="mytr" v-for="row in table.rows" :row="row" :table="table"></tr>
    </table>
  </div>
</script>
<script>
  Vue.component('mytable', {
    template: '#mytable',
    props: ['table']
  });
</script>
<!--------------------------------------------------------------------------->
<!--------------------------------------------------------------------------->
<!--------------------------------------------------------------------------->
<!--------------------------------------------------------------------------->
<!--------------------------------------------------------------------------->
<!--------------------------------------------------------------------------->
<!--------------------------------------------------------------------------->
<!--------------------------------------------------------------------------->
<script>
  let app = new Vue({
    el: '#app',
    data: {
      table: {
        caption: '人物列表',
        headers: {name: '名字', age: '年龄', gender: '性别', hometown: '家乡', married: '婚否'},
        transform: {
          gender: {1: '男', 0: '女'},
          married: {1: '已婚', 0: '未婚'}
        },
        rows: [
          {name: 'peter', age: 19, gender: 1, hometown: '成都', married: 0},
          {name: 'helen', age: 29, gender: 0, hometown: '北京', married: 1}
        ],
      }
    }
  });
</script>
</html>